body {
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.card {
    background-color: white;
    width: 100%;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    position: relative;
    box-shadow: 0 40px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    margin-top: 80px;
}

.card i {
    font-size: 30px;
    position: relative;
    top: 20px;
    left: 20px;
    z-index: 10;
}

.card .fa-server {
    top: 20px;
    left: 20px;
    font-size: 30px;

}

.card .fa-car {
    top: 20px;
    left: 20px;
    font-size: 30px;

}

.card h2 {
    margin-top: 0;
    font-size: 40px;
    display: flex;
    justify-content: center;
}

.card p {
    font-size: 30px;
}

.contentCard {
    display: flex;
    flex-direction: column;
    padding: 50px;
    gap: 20px;
}

.contentTag {
    display: flex;
    gap:10px;
}

.tab-buttons {
    display: flex;
    position: absolute;
    top: -70px;
    /* Adjust to move the tabs up */
    left: 0px;
    /* Adjust to move the tabs horizontally */
}

.tab-button {
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    width: 70px;
    height: 70px;
    background-color: gray;
    margin-right: 5px;
    opacity: 20%;
    cursor: pointer;


    &.active {
        background-color: orange;
        opacity: 100%;
    }
}

.tab-content {
    padding: 20px;
    text-align: center;
}
.Card {
    margin-top: 100px;
    background-color: white;
    width: 100%;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 40px 8px rgba(0, 0, 0, 0.2);

    h2 {
        margin-top: 0px;
        font-size: 40px;
    }

    p {
        font-size: 30px;
    }

    i {
        font-size: 45px;
        position: relative;
        top: -30px;
            left: -20px;
}

.contentTag {
    display: flex;
    gap: 20px;
}

.contentCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    }
}
@media (max-width: 500px) {

    .contentTag{
        flex-direction: column;
        gap:20px;
    }

    .card {
        width: 90%;
        h2 {
        margin-top: 0;
        font-size: 25px;
        display: flex;
        justify-content: center;
    }
        p{
            font-size: 15px;
        }
}
}