.contactMe {
    border-radius: 30px;
    background-color: #f75023;
    border: none;
    color: white;
    width: 150px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contentButton {
    display: flex;
    align-items: center;
    gap: 20px;

    i {
        font-size: 20px;
    }
    

}