@import '~@fortawesome/fontawesome-free/css/all.min.css';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.contentIndex {
  display: flex;
  height: 100%;
    align-items: center;

  p.primary {
    margin-top: 200px;
    color: #f75023;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 0px;
    
  }

  P.secondary {
    font-size: 20px;
      color: #999;
  }

  h1 {
    margin: 0;
    font-size: 60px;

  }
}

.contentLeft {
  display: flex;
  flex-direction: column;

  width: 100%;

  .textGreen {
    color: #1cbe59;
  }

  .textPurple {
    color: #8067f0;
  }
}


.contentRight {
  
  display: flex;
    justify-content: center;
  height: 100%;
  width: 100%;
  img {
      width: 300px;
      height: 100%;
      align-items: center;
    }
  }
  
  .contentWork {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  
    h2 {
  
      margin-top: 200px;
      color: #f75023;
      font-size: 30px;
      font-weight: 500;
      margin-bottom: 0px;
  
  
    }
  
    p {
      font-size: 39px;
      margin-top: 5px;
    }
  }
  
  .myWork {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  
    h2 {
  
      margin-top: 200px;
      color: #f75023;
      font-size: 30px;
      font-weight: 500;
      margin-bottom: 0px;
  
  
    }
  
    p {
      font-size: 39px;
    
    }
}
.contactForm {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;

  gap: 50px;

  h2 {

    display: flex;
    margin-top: 100px;
    color: #f75023;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 0px;
    justify-content: center;

  }

  p {
    display: flex;
    font-size: 39px;
    justify-content: center;
    margin-top: 0px;
  }

  h3 {
    font-size: 12px;
  }

}

.contactPlacement {

  display: flex;
  gap: 100Px;


  .contactThree {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40%;
    padding: 20px;
    border-radius: 20px;
    border: solid 2px #f75023;
    ;
  }
}
@media (max-width: 500px) {
  

  body {
    margin: 0;
    min-height: 100vh;
    /* Le body occupe au minimum 100% de la hauteur de la fenêtre */
    display: flex;
    flex-direction: column;

  }

  .contentLeft {
    padding: 5%;
    p.primary {
      font-size: 30px;
    }

    h1 {
      font-size: 35px;
    }

    h2 {
      font-size: 22px;
    }
  }


  .contentRight {

    display: none;

  }

  .contentIndex {

    p.primary {
      margin-top: 0px;

    }

  }


  .contentWork {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    h2 {

      margin-top: 50px;
      color: #f75023;
      font-size: 35px;
      font-weight: 500;
      margin-bottom: 0px;


    }

    p {
      font-size: 17px;
    }
  }

  .myWork{
    h2{
      margin-top: 100px;
      font-size: 30px;
    }
    p{
      font-size: 17px;
    }
  }

  .contactForm{
    h2{
      font-size: 35px;
    }
    p{
      font-size: 17px;
      padding: 5%;
    }
  }
  .contactThree{
    .contactConteneur{
      gap:10px;
    }
  }
  .contactPlacement{
    flex-direction: column;
    align-items: center;
    
    .contactThree{
      width: 80%;
    }
    form{
      display: flex;
      align-items: center;
      width: 90%;
      div{
        width: 100%;
      }
      button{
        height: 50px;
        width: 150px;
        display: flex;
        justify-content: center;
      }
    }
  }


  
}