body {
    background-color: #f0f0f0;
    /* Couleur de fond pour contraster le contenu */
}

#root {
    border-left: 20px;
    max-width: 1366px;
    margin: 0 auto;
    box-sizing: border-box;
    width: 100%;
    justify-content: center;
}


@media (max-width: 500px) {

    #root {

        margin: 0 auto;
        width: 100%;

    }
}